backend2.json
{
    "name": "Simple AI Chatbot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "AIchatbot",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -432,
                496
            ],
            "id": "caa8dcb2-5fc4-423a-878e-dde5447c6383",
            "name": "Webhook1",
            "webhookId": "8c9ac7cb-d393-452a-bb57-e6b991f184a1"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "You are Clark, a helpful assistant for DiVRgence, a VR arcade in Parkway Place Mall, Huntsville AL. Answer questions about attractions, pricing, and hours. If unsure, tell them to call (256) 203-4128.\n\nLOCATION: 2801 Memorial Pkwy SW, Huntsville AL. First floor near elevators. Park in food court garage.\n\nHOURS: Mon-Fri 4PM-8PM | Sat 10AM-8PM | Sun 12PM-6PM\n\nATTRACTIONS: 360° Simulator ($12), Egg Pod Twin Seats ($12), VR Racing Karts ($12), VR Racing Moto ($12), FPS Arena ($12), Flight VR + 5D Movies ($12), Omni Arena treadmill up to 4 players ($16/person), Racing Rigs, PC Gaming, Console Gaming.\n\nPRICING:\n- 1 ride: $12 | 2 rides: $20 | 6 rides: $50\n- Omni Arena: $16/person (4-player team: $56)\n- PC/Console 30min: $15\n- 1HR package: $35/person (4 rides + PC/console)\n- 2HR package: $65/person (8 rides + PC/console)\n- Birthday party (up to 8 people, 90min): $375 (+$18 each extra)\n- Add 30min to any package: $10/person\n- Gift cards available\n\nRULES: Min height 4ft for rides. All ages welcome. No reservation needed. Sign waiver at thedivrgence.com/waiver before arriving. Headsets sanitized after every use.\n\nCONTACT: (256) 203-4128 | connected@rocketcityvr.com | thedivrgence.com\n\nLength of each response should not exceed by 20-30 words. In any sentence or word, don't show that you are an AI assistant.\n\nBOOKING: If the user wants to book, collect name, phone, email, date, time, party size, and package. Once you have ALL details, reply with ONLY this exact JSON on a single line, nothing else:\n{\"BOOKING\":true,\"name\":\"...\",\"phone\":\"...\",\"email\":\"...\",\"date\":\"...\",\"time\":\"...\",\"party_size\":\"...\",\"package\":\"...\"}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -208,
                496
            ],
            "id": "8f7d6e70-73c1-445c-bd5b-c1ddee443165",
            "name": "AI Agent1"
        },
        {
            "parameters": {
                "model": "llama3.2:latest",
                "options": {
                    "temperature": 0.5
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
            "typeVersion": 1,
            "position": [
                -320,
                704
            ],
            "id": "900cd440-4da4-4a8a-8345-6a5e4525b543",
            "name": "Ollama Model1",
            "credentials": {
                "ollamaApi": {
                    "id": "jGpU8D54WMZf4HLA",
                    "name": "Ollama account 2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "booking-check",
                            "leftValue": "={{ $json.output }}",
                            "rightValue": "\"BOOKING\":true",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                128,
                496
            ],
            "id": "if-booking-node",
            "name": "Is Booking?"
        },
        {
            "parameters": {
                "jsCode": "const output = $input.item.json.output;\nconst match = output.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error('No JSON found in AI output');\nconst data = JSON.parse(match[0]);\nreturn { json: data };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                368,
                368
            ],
            "id": "parse-booking-json",
            "name": "Parse Booking JSON"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "value": "YOUR_GOOGLE_SHEET_ID_HERE",
                    "__rl": true,
                    "mode": "id"
                },
                "sheetName": {
                    "value": "Sheet1",
                    "__rl": true,
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Name": "={{ $json.name }}",
                        "Phone": "={{ $json.phone }}",
                        "Email": "={{ $json.email }}",
                        "Date": "={{ $json.date }}",
                        "Time": "={{ $json.time }}",
                        "Party Size": "={{ $json.party_size }}",
                        "Package": "={{ $json.package }}",
                        "Timestamp": "={{ new Date().toLocaleString() }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                608,
                368
            ],
            "id": "google-sheets-node",
            "name": "Save to Google Sheets",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_CREDENTIALS_ID",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ reply: \"Booking confirmed! See you on \" + $('Parse Booking JSON').item.json.date + \" at \" + $('Parse Booking JSON').item.json.time + \". For questions call (256) 203-4128.\" }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                848,
                368
            ],
            "id": "respond-booking-confirmed",
            "name": "Respond Booking Confirmed"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ reply: $json.output }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                368,
                624
            ],
            "id": "1d02385b-8133-4b10-a84d-68231f791bb3",
            "name": "Respond to Webhook1"
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook1": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent1": {
            "main": [
                [
                    {
                        "node": "Is Booking?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Booking?": {
            "main": [
                [
                    {
                        "node": "Parse Booking JSON",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Booking JSON": {
            "main": [
                [
                    {
                        "node": "Save to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Google Sheets": {
            "main": [
                [
                    {
                        "node": "Respond Booking Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "7de4dfb7-c8ec-4749-8eae-6116816da4e8",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "cd9b11af4a64f3fb925ebec4bce716338e9a18af53bfce254722f9f47fa28fb8"
    },
    "id": "pNZFVioKgBwYjDs0",
    "tags": []
}