backend.json
{
  "name": "Simple AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful customer support assistant for ABC Clothing Store.\n\nAbout Us:\n- We sell premium quality clothing\n- Located in Delhi, India\n- Working hours: Mon-Sat, 10am to 8pm\n- WhatsApp: +91-9999999999\n\nOur Products & Prices:\n- Red Kurta: ₹799 (Sizes: S, M, L, XL)\n- Blue Jeans: ₹1,299 (Sizes: 28 to 36)\n- White Shirt: ₹599 (Sizes: S, M, L, XL)\n- Black Dress: ₹1,499 (Sizes: S, M, L)\n\nShipping:\n- Free shipping above ₹999\n- Delivery in 3-5 business days\n- Cash on delivery available\n\nReturn Policy:\n- 7 day easy returns\n- Exchange available within 15 days\n\nRules:\n- Only answer questions related to our store and products\n- If unsure, say: 'Let me connect you with our team'\n- Always reply in the same language the customer uses\n- Be friendly, short, and helpful"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [220, 0],
      "id": "ai-agent-node",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [120, 200],
      "id": "ollama-node",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "YOUR_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.output }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [440, 0],
      "id": "respond-node",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Ollama Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}